.about__container{
    width: 1141px;
}

.about__content {
    position: relative;
    height: 552px;
    margin-bottom: 109px;
}

.about__background-img {
    position: absolute;
    z-index: 0;
    display: block;
    width: 483px;
    height: 505px;
    left: 0;
}

.about__foreground {
    position: absolute;
    width: 794px;
    height: 455px;
    display: block;
    margin-top: 96px;
    right: 0;
    z-index: 2;
    background: url(/img/mountains.png) no-repeat;
    }

.about__foreground-text{
    color: #060606;
    line-height: 1.6;
    margin-bottom: 74px;    
}

.about__foreground-block{
    margin-left: 80px;
    margin-right: 200px;
}

.title--dark {
    color: #000;
    font-size: 36px;
    font-weight: bold;
    margin-top: 71px;
    margin-bottom: 40px;
}

.about__foreground-paragraph {
    color: #303030;
    margin-bottom: 100px;
}  
