.news {
    margin-bottom: 95px;
}

.news__item {
    width: 556px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 21px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__text-content {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0; 
    padding: 21px 30px;  
}

.news__text-content--high {
    padding-bottom: 45px;
}

.new__date {
    font-size:14px;
}

.news__title {
font-size: 24px;
font-weight: bold;
padding-top: 18px;
}

.news__list {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}

.news__text {
    line-height: 1.5;
}