.offers__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 127px;
}

.title--fire {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 49px;
}

.offers__item {
    min-height: 450px;
    background: #fff;
    width: calc(100% / 3 - 18px);
    border-radius: 4px;
    overflow: hidden;
}

.offers__content {
    padding: 36px 28px 22px 21px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers__title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 25px;
}


.offers__text {
    font-size: 14px;
    color: #303030;
    line-height: 1.5;
    padding-bottom: 24px;
}

.offers__feature-text {
    color: #666666;
    font-size: 16px;
    margin-right: 40px;
    margin-left: 3px;
}

.offers__feature {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 23px;
}

.button--light {
display: flex;
margin-top: auto;
text-align: center;
justify-content: center;
}
