.point__content {
    width: 50%;
    margin-bottom: 248px;
}

.point__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 24px;
}

.point__text {
    font-size: 18px;
    margin-bottom: 33px;
}


